html {
  --color-accent: rgb(51, 102, 0);
  color-scheme: dark;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
   }

ul.nav {
  display: contents;
}
   
li.nav {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 3em;
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}

a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

a.current {
  border-bottom-width: 0.3em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  padding-bottom: 0.2em;
}

a:hover {
  border-bottom-width: 0.3em;
  border-bottom-style: solid;
  padding-bottom: 0.2em;
  border-bottom-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

input {
  font: inherit;
}

textarea {
  font: inherit;
}

button {
  font: inherit;
  grid-column: 1 / -1;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

img {
  max-width: 100%;
}

div.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

div.resume {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  gap: 2em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0.5em;
}

h1 {
  font-size: 350%;
  line-height: 1.1;
  text-wrap: balance;
}

h2 {
  line-height: 1.1;
  text-wrap: balance;
}

h3 {
  line-height: 1.1;
  text-wrap: balance;
}

h4 {
  line-height: 1.1;
  text-wrap: balance;
}

h5 {
  line-height: 1.1;
  text-wrap: balance;
}

h6 {
  line-height: 1.1;
  text-wrap: balance;
}

p.resume {
  margin: 0;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font: inherit;
  font-size: 80%;
}

select {
  font: inherit;
  font-size: 80%;
}